.feed {
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 90%;
    overflow: auto;
}

.feed::-webkit-scrollbar {
    display: none;
}

h3 {
    margin-left: 15px;
}

/* Recipe Card */

.recipe-card {
    margin: 10px 0;
    padding: 15px;
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    border-radius: 5px;
}

.recipe-card:hover {
    cursor: pointer;
    background-color: var(--green);
}

.recipe-info {
    height: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    /* ellipsis not working */
}

.top {
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
    justify-content: space-between;
}

.blue-hover:hover {
    color: var(--accent);
}

.green-hover:hover {
    color: var(--green)
}