.side-nav {
    margin-top: 0;
    margin-right: 3%;
    padding: 15px;
    background-color: grey;
    border-radius: 5px;
    height: 95vh;
    width: 200px;
    position: sticky;
    top: 10px;
}

.font-weight {
    font-weight: bold;
}