.side-nav {
    margin-top: 9%;
    margin-right: 3%;
    padding: 15px;
    background-color: grey;
    border-radius: 5px;
    height: 75%;
    width: 15%;
}

.font-weight {
    font-weight: bold;
}