.top-nav {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    padding: 15px;
    border-radius: 5px;
}

button {
    margin-left: 10px;
}

a {
    color: #FFFFFF;
}